.flexContainer {
	display: -ms-flex;
	display: -webkit-flex;
    display: flex;
    max-height: 700px;
    overflow: auto;
    flex-flow: row wrap;
}

.flexContainer > div {
    padding: 10px;
    border: 1px solid black;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1em;
}

.flexContainer > div:nth-child(even) {
	width: 55%;
}

.flexContainer > div:nth-child(odd) {
	width: 30%;
}

.flexContainer > div:first-child, .flexContainer > div:nth-child(2) {
    font-weight: bold;
    background-color: rgb(222, 237, 247);
}

td {
    border: 1px solid gray;
}

.sectionFooter {
    text-align: right;
    margin-right: 10px;
    font-size: 12px;
}

.bodyFooter {
    padding: 50px;
    text-align: right;
    margin-right: 10px;
    font-size: 16px;
}