.flexContainer {
	display: -ms-flex;
	display: -webkit-flex;
    display: flex;
    max-height: 700px;
    width: 80%;
    overflow: auto;
    flex-flow: row wrap;
}

.flexContainer > div:nth-child(even) {
	width: 60%;
    padding: 20px;
    border: 1px solid black;
}

.flexContainer > div:nth-child(odd) {
	width: 20%;
    padding: 20px;
    border: 1px solid black;
}

.flexContainer > div:first-child, .flexContainer > div:nth-child(2) {
    font-weight: bold;
}

/*
.flexContainer > div:first-child {
	margin-right: 20px;
}
*/
td {
    border: 1px solid gray;
}

.sectionFooter {
    text-align: right;
    margin-right: 10px;
    font-size: 12px;
}